<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>粒子发射器demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3043C0411F2EFBFD00D3C6B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3043C0551F2EFBFD00D3C6B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3043C0601F2EFBFD00D3C6B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
